html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji";
}
a {
  color: #1d9bf0;
}

.container {
  text-align: center;
  min-height: 95vh;
  display: grid;
  grid-template-rows: 1fr auto;
}
.main {
  place-self: center;
}
h1,
.status {
  font-size: 3rem;
}
h1 {
  font-weight: normal;
}
.status {
  font-weight: bold;
}

.footer {
  align-self: end;
}
.links {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
